<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button (click)="cancel()">
				<ion-icon name="close" class="capture  big"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Create Session</ion-title>
		<ion-buttons end>
			<button ion-button (click)="register()" [disabled]="loading">
				<ion-icon name="checkmark" class="capture big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form #sessionForm>
		<ion-item>
			<ion-label>Name</ion-label>
			<ion-input type="text" [(ngModel)]="session.sessionName" name="name" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Course</ion-label>
			<ion-select [(ngModel)]="session.course" name="course" required>
				<ion-option *ngFor="let course of courses" [value]="course">{{course.subject + " " + course.stream + " " + course.level}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Teachers</ion-label>
			<ion-select [(ngModel)]="session.teachers"  name="teacher" required multiple="true">
				<ion-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.firstName + " " + teacher.lastName}}</ion-option>
			</ion-select>
		</ion-item>
	</form>

</ion-content>