<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button (click)="exit()">
				<ion-icon name="exit"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Attendance</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="session-attendance">
	<div class="text-center" *ngIf="!users">
		<ion-spinner></ion-spinner>
	</div>

	<div class="text-center" *ngIf="users && users.length == 0">
		<h3>No user joined yet</h3>
	</div>

	<ion-grid *ngIf="users && users.length > 0">
		<ion-row>
			<ion-col col-sm-6 col-md-3 col-lg-2 *ngFor="let user of users" class="text-center user" [class.online]="user.inSession" (click)="userClicked(user)">
				<img src="/assets/images/person.png">
				<h2>{{user.lastName + ' ' + user.firstName}}</h2>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>