.session-attendance{
	.user{
		filter: grayscale(1);
    	opacity: 0.5;
		img{
			border: 1px solid #dedede;
			border-radius: 100%;
		}
		&.online{
			filter: grayscale(0);
    		opacity: 1;
		}
	}
}