<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add question' : 'Edit question'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveAndPresent()" *ngIf="canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="results()" *ngIf="!canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="has-header">
	<ion-list *ngIf="question">
		<ion-item>
			<ion-textarea name="question" placeholder="Enter your question" [(ngModel)]="question.question"></ion-textarea>
		</ion-item>

		<ion-grid>
			<ion-row>
				<ion-col col-6 col-sm text-center>
					<ion-icon class="fa fa-smile-o fa-4x"></ion-icon>
				</ion-col>
				<ion-col col-6 col-sm text-center>
					<ion-icon class="fa fa-frown-o fa-4x"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>