<ion-content padding class="likedislike-exam">
	<h3>{{question.question}}</h3>
	<ion-grid>
		<ion-row>
			<ion-col col-6 col-sm text-center>
				<ion-icon class="fa fa-smile-o fa-4x" (click)="onChange(1)" [class.active]="first"></ion-icon>
			</ion-col>
			<ion-col col-6 col-sm text-center>
				<ion-icon class="fa fa-frown-o fa-4x" (click)="onChange(2)" [class.active]="second"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>