<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>{{title}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveAndPresent()" *ngIf="canPresent == true">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="results()" *ngIf="canPresent == false">
				<ion-icon name="list-box" class="big"></ion-icon>
			</button>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-toolbar class="questions">
		<ion-title>Questions</ion-title>
		<ion-buttons end>
			<button ion-button (click)="addQuestion($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
	<ion-list>
		<ion-item *ngFor="let question of activity.questions" (click)="onQuestionClick(question)">
			<h4>{{question.question}}</h4>
			<p>{{question.questionType}}</p>
		</ion-item>
	</ion-list>
</ion-content>