<ion-content padding class="poll-exam">
	<h3>{{question.question}}</h3>
	<ion-list radio-group>
		<ion-item *ngFor="let distracter of question.distracters; index as i;">
			<ion-label>{{distracter.distracter}}</ion-label>
			<ion-radio item-right [value]="i+1" (ionSelect)="onChange(i+1)" [checked]="isChecked(i+1)"></ion-radio>
        </ion-item>
	</ion-list>
</ion-content>