<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add Poll' : 'Edit Poll'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveAndPresent()" *ngIf="canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="results()" *ngIf="!canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="poll has-header">
	<ion-list *ngIf="question">
		<ion-item>
			<ion-textarea name="question" placeholder="Enter your question" [(ngModel)]="question.question"></ion-textarea>
		</ion-item>
		<ion-item>
            <ion-input name="q1distracter" placeholder="Type in distracter 1" [(ngModel)]="question.distracters[0].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-input name="q2distracter" placeholder="Type in distracter 2" [(ngModel)]="question.distracters[1].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-input name="q3distracter" placeholder="Type in distracter 3" [(ngModel)]="question.distracters[2].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-input name="q4distracter" placeholder="Type in distracter 4" [(ngModel)]="question.distracters[3].distracter" ></ion-input>
        </ion-item>
	</ion-list>
</ion-content>