// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "scss/font-awesome"; 

@font-face { 
	font-family: 'FontAwesome'; 
	src: url('#{$font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
	src: url('#{$font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
	url('#{$font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
	url('#{$font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
	url('#{$font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
	url('#{$font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face {
  font-family: 'qfont';
  src:  url('#{$font-path}/qfont.eot?ruj50x');
  src:  url('#{$font-path}/qfont.eot?ruj50x#iefix') format('embedded-opentype'),
    url('#{$font-path}/qfont.ttf?ruj50x') format('truetype'),
    url('#{$font-path}/qfont.woff?ruj50x') format('woff'),
    url('#{$font-path}/qfont.svg?ruj50x#qfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "scss/q-font"; 

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
