<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button (click)="exit()">
				<ion-icon name="exit"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{session.sessionName}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="session-display">
	<q-presenter [toc]="toc" 
				 [los]="los" 
				 [currentState]="state">
	</q-presenter>
</ion-content>