<ion-split-pane>
	<ion-menu [content]="myNav">
		<ion-header>
			<ion-toolbar>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list>
				<button ion-item *ngFor="let p of pages" (click)="openPage(p)"  menuClose>
					<ion-icon [name]="p.icon"  item-start></ion-icon>
					{{p.title}}
				</button>
				<ion-item (click)="signOut()"  menuClose>
					<ion-icon name="exit" item-start></ion-icon>
					Sign out
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-menu>
	<!--ion-menu [content]="myNav" id="session-menu" class="session-menu-wrapper">
		<ion-content class="no-scroll">
			<session-menu></session-menu>
		</ion-content>
	</ion-menu-->
	<ion-nav #myNav main></ion-nav>
</ion-split-pane>