.text-center{
	text-align: center;
}

.error .toast-wrapper{
	background: rgba(255, 0, 12, 0.9);
}

.warning .toast-wrapper{
	background: rgba(251, 143, 4, 0.9);
}

.split-pane-visible > .split-pane-side.session-menu-wrapper {
	max-width: 60px !important;
	min-width: 60px !important;
}

.no-scroll {
    .scroll-content {
        overflow-y: hidden;
    }
}