<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Users</ion-title>
		<ion-buttons end>
			<button ion-button (click)="addUser()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list *ngIf="users && users.length > 0">
		<ion-item *ngFor="let user of users" (click)="userSelected(user)">
			<ion-avatar item-start>
				<img src="/assets/images/no_image_user.png">
			</ion-avatar>
			<h2>{{user.firstName}} {{user.lastName}}</h2>
			<p>{{user.userName}}</p>
		</ion-item>

	</ion-list>
	<div class="text-center" *ngIf="!users">
		<ion-spinner></ion-spinner>
	</div>
</ion-content>