<ion-header>
	<ion-navbar>
		<ion-title>{{title}}</ion-title>
		<ion-buttons end *ngIf="total > 1">
			<button ion-button [disabled]="index <= 1" (click)="goBack($event)">
				<ion-icon name="arrow-back" class="big"></ion-icon>
			</button>
			<div class="current-question"><strong>Question {{index}} of {{total}}</strong></div>
			<button ion-button [disabled]="index >= total" (click)="goForward($event)">
				<ion-icon name="arrow-forward" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-nav #questionsNav></ion-nav>
</ion-content>

<ion-footer>
	<ion-toolbar>		
		<ion-title></ion-title>
		<ion-buttons end>
			<button ion-button color="primary" [disabled]="currentAnswer.answered" (click)="submitCurrentAnswer()">Submit</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>