<ion-header>
	<ion-navbar>
		<ion-title>Create User</ion-title>
		<ion-buttons end>
			<button ion-button (click)="register()" [disabled]="loading">
				<ion-icon name="checkmark" class="capture" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form #userForm>
		<ion-item>
			<ion-label>First Name</ion-label>
			<ion-input type="text" [(ngModel)]="user.firstName" name="firstName" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Last Name</ion-label>
			<ion-input type="text" [(ngModel)]="user.lastName" name="lastName" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Username</ion-label>
			<ion-input type="text" [(ngModel)]="user.userName" name="username" required></ion-input>
		</ion-item>
		<ion-item *ngIf="create">
			<ion-label>Password</ion-label>
			<ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Role</ion-label>
			<ion-select [(ngModel)]="user.role" name="role" required (ionChange)="roleChanged = true" [compareWith]="compareFn">
				<ion-option *ngFor="let role of roles" [value]="role">{{role.roleName}}</ion-option>
			</ion-select>
		</ion-item>
	</form>

	<ion-card>
		<ion-card-header>
			<ion-item>
				<h2><strong>Courses</strong></h2>
				<button ion-button icon-only clear item-right (click)="chooseCourses()">
					<ion-icon name="add-circle"></ion-icon>
				</button>
			</ion-item>
		</ion-card-header>
		<ion-list>
			<ion-item *ngIf="user.accesibleLevelIds && user.accesibleLevelIds.length == 0" class="text-center">
				Assign courses to this user
			</ion-item>
			<ion-item *ngFor="let levelId of user.accessibleLevelIds">
				{{levelId}}
				<button ion-button item-right icon-only clear (click)="removeCourse(levelId)">
					<ion-icon name="trash" color="danger"></ion-icon>
				</button>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>