<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-4 col-xs-12>
				<ion-card>
					<ion-card-header>
						Time
					</ion-card-header>
					<ion-card-content>
						{{time}}
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col col-4 col-xs-12>
				<ion-card>
					<ion-card-header>
						Average Completion
					</ion-card-header>
					<ion-card-content>
						{{activitySummary.averageCompletion}}%
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col col-4 col-xs-12>
				<ion-card>
					<ion-card-header>
						Average score
					</ion-card-header>
					<ion-card-content>
						{{activitySummary.averageScore}}
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row text-right>
			<button ion-button color="primary" (click)="showDetails()">Details</button>
		</ion-row>
	</ion-grid>
</ion-content>