<ng-template #header >

<div class="container-fluid">

  <div class="row title-row" >

    <!-- used when LO button is displayed by the presenter -->
    <!--<div class="col-xs-2 lo-page-num" >
      <button
        type="button"
        class="btn btn-circle {{btnColor}} btn-md"
        (click)="showLoInfo()" >
        <i class="glyphicon-num">{{LOnumber}}</i>
      </button>
    </div>-->

    <div class="col-xs-offset-1 lo-title" [innerHTML]="loContent?.title"></div>

  </div>

  <div class="row instruction-row" >

    <div class="col-xs-offset-1 lo-instructions" [innerHTML]="loContent?.metadata.instructions">
    </div>

  </div>

</div>

</ng-template>
