<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Activities</ion-title>
		<ion-buttons end>
			<button ion-button (click)="addActivity($event)">
				<ion-icon name="add" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-spinner *ngIf="loading"></ion-spinner>
	<ion-list>
		<ion-item *ngFor="let quiz of activities; index as i" (click)="onQuizClick(quiz)">
			<h2>Quiz {{i}}</h2>
		</ion-item>
		<ion-item *ngIf="!loading && activities.length == 0">
			<h2 class="text-center">Create an activity</h2>
		</ion-item>
	</ion-list>
</ion-content>