<ion-content padding class="single-choice-exam">
	<h3>{{question.question}}</h3>
	<ion-grid>
		<ion-row>
			<ion-col col-9 offset-3>
				<div class="label start">{{getLabel(question, true)}}</div>
				<div class="label end">{{getLabel(question, false)}}</div>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let distracter of question.distracters; index as i;">
			<ion-col col-3 class="label-col">
				<ion-label>{{distracter.distracter}}</ion-label>
			</ion-col>
			<ion-col col-9>
				<ion-range min="1" max="5" step="1" snaps="true" color="primary" (ionChange)="onRangeSelected($event, distracter)"></ion-range>
			</ion-col>
		</ion-row>		
	</ion-grid>
</ion-content>