<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add Slider' : 'Edit Slider'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveAndPresent()" *ngIf="canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="results()" *ngIf="!canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="slider has-header">
	<ion-list *ngIf="question">
		<ion-item>
			<ion-textarea placeholder="Type in your lead question" [(ngModel)]="question.question"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-range min="1" max="5" step="1" snaps="true" color="primary">
				<ion-input range-left placeholder="label" (ionChange)="labelUpdated($event, true)"></ion-input>
				<ion-input range-right placeholder="label" (ionChange)="labelUpdated($event, false)"></ion-input>
			</ion-range>
		</ion-item>
		<ion-item>
            <ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[0].distracter"></ion-input>
        </ion-item>
		<ion-item>
            <ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[1].distracter"></ion-input>
        </ion-item>		
		<ion-item>
            <ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[2].distracter"></ion-input>
        </ion-item>
		<ion-item>
            <ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[3].distracter"></ion-input>
        </ion-item>
		<ion-item>
            <ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[4].distracter"></ion-input>
        </ion-item>
	</ion-list>
</ion-content>