
<div class="container-fluid" *ngIf="tableOfContent">

  <div class="row calendar" *ngIf="displayNavbar">

    <!--close button-->
    <button
      type="button"
      class="btn btn-circle btn-white btn-md btn-nav-close"
      (click)=" navbarDisplay(false)" >
      <i class="glyphicon glyphicon-remove"></i>
    </button>

    <div class="col-xs-22" >

      <div class="tasks-row">

        <!--task bar icons-->
        <div class="btn-group task-btns" >
          <span>
            <label class="btn navbar-task-btn btn-md">
              <input type="radio" name="tasks" id="blockInfoBtn" autocomplete="off" checked (click)="selectedTask(-1)" style="-webkit-appearance: none;">i
            </label>
          </span>
          <span *ngFor="let task of tableOfContent.tasks; let taskIndex = index;">
            <label class="btn navbar-task-btn btn-md">
              <input type="radio" name="tasks" id="taskInfoBtn + {{taskIndex}}" autocomplete="off" (click)="selectedTask(taskIndex)" style="-webkit-appearance: none;">{{taskIndex + 1}}
            </label>
          </span>
        </div>

        <hr>

      <!--block metadata-->
      <div drag-scroll drag-scroll-x-disabled id="blockInfo" class="toc-meta" *ngIf="taskSelected == -1 && !showLOs">
        <div class="blockName" [innerHTML]="tableOfContent.displayName"></div><br>
        <div [innerHTML]="tableOfContent?.description" *ngIf="tableOfContent?.description != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent?.goals" *ngIf="tableOfContent?.goals != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent?.concept" *ngIf="tableOfContent?.concept != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent?.requiredKnowldge" *ngIf="tableOfContent?.requiredKnowldge != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent?.blockSloknowhow" *ngIf="tableOfContent?.blockSloknowhow != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent?.blockSloskills" *ngIf="tableOfContent?.blockSloskills != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent?.blockSlo21stcentury" *ngIf="tableOfContent?.blockSlo21stcentury != ''" class="navbar-p"></div>
      </div>

      <!--tasks metadata-->
      <div drag-scroll drag-scroll-x-disabled id="taskInfo" class="toc-meta" *ngIf="taskSelected != -1 && !showLOs">
        <div class="blockName" [innerHTML]="tableOfContent.tasks[taskSelected].displayName"></div><br>
        <div [innerHTML]="tableOfContent.tasks[taskSelected]?.resume" *ngIf="tableOfContent.tasks[taskSelected]?.resume != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent.tasks[taskSelected]?.SLU" *ngIf="tableOfContent.tasks[taskSelected]?.SLU != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent.tasks[taskSelected]?.learningObjective" *ngIf="tableOfContent.tasks[taskSelected]?.learningObjective != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent.tasks[taskSelected]?.task" *ngIf="tableOfContent.tasks[taskSelected]?.task != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent.tasks[taskSelected]?.taskMaterials" *ngIf="tableOfContent.tasks[taskSelected]?.taskMaterials != ''" class="navbar-p"></div>
        <div [innerHTML]="tableOfContent.tasks[taskSelected]?.taskTeacherInfo" *ngIf="tableOfContent.tasks[taskSelected]?.taskTeacherInfo != ''" class="navbar-p"></div>
      </div>

      <!--task's los-->
      <div class="btn-group" >
      <div id="loNav" class="loNav toc-meta" *ngIf="showLOs">
        <span *ngFor="let LOsData of tableOfContent.tasks[taskSelected].los; let loIndex = index;">
          <label class="btn navbar-lo-btn btn-md {{LOsData.color}}-loBtn">
            <input type="radio" name="los" id="loInfoBtn + {{loIndex}}" autocomplete="off" (click)="selectedLO(loIndex)" style="-webkit-appearance: none; ">{{loIndex + 1}}
          </label>
        </span>
      </div>

            <!--<span id="LOboxShow" class="lo-box animate-show" *ngIf="LOShowInfo[$index]">
                <div class="LOtitle">{{LOsIDs[selTaskNum][$index].title}}</div>
                <div class="LOinfo">{{LOsIDs[selTaskNum][$index].LOInfoTeacher}}</div>
                <button
                  type="button"
                  class="btn btn-circle btn-white btn-xs btn-nav-close"
                  (click)="clickedLOBtn($index, selTaskNum)" >
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-circle btn-white btn-xs btn-lo-goto"
                  (click)="clickedGotoBtn($index, selTaskNum)" >
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </span>
        </span>-->
      </div>
</div>
<!--
<div class="container-fluid">

  <div class="row calendar" *ngIf="shared.tocState">

    <button
      type="button"
      class="btn btn-circle btn-white btn-md btn-nav-close"
      (click)="clickedCloseBlockBtn()" >
      <i class="glyphicon glyphicon-remove"></i>
    </button>

    <div class="col-xs-22" >
      <div class="tasks-row">
        <button
          type="button"
          class="btn btn-circle btn-normal btn-md {{btnBlock}}"
          (click)="clickedBlockBtn()" >
          <i class="glyphicon-num">i</i>
        </button>
        <span *ngFor="task in taskNum track by $index">
          <button type="button"
              class="btn btn-circle btn-normal btn-md {{btnActive[$index]}}"
              data-toggle="button"
              (click)="clickedTaskBtn($index)" >
            <i class="{{ taskIcon[$index] }}">{{ task }}</i>
          </button>
        </span>
      </div>
      <hr>

      <div id="blockInfo" class="blockInfo animate-show" *ngIf="btnBlock" ng-scrollable="{scrollX:'none',scrollY:'right'}">
        <div class="blockName" [innerHTML]="BlockName | safeHtml"></div><br>
        <div [innerHTML]="BlockInfoTeacher.BlockSummary | safeHtml" *ngIf="BlockInfoTeacher.BlockSummary != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.BlockAims | safeHtml" *ngIf="BlockInfoTeacher.BlockAims != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.BlockConcepts | safeHtml" *ngIf="BlockInfoTeacher.BlockConcepts != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.BlockRequired | safeHtml" *ngIf="BlockInfoTeacher.BlockRequired != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.SLOknow | safeHtml" *ngIf="BlockInfoTeacher.SLOknow != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.SLOcontent | safeHtml" *ngIf="BlockInfoTeacher.SLOcontent != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.SLOcentury | safeHtml" *ngIf="BlockInfoTeacher.SLOcentury != ''" class="navbar-p"></div>

        <ul>
          <div *ngFor="TaskName in taskName" >
            <li *ngIf="TaskName != ''">{{TaskName + ' (' + taskTeacherInfo[$index].TaskSLH + ')'}}</li>
          </div>
        </ul>

        <div [innerHTML]="BlockInfoTeacher.BlockAssignments | safeHtml" *ngIf="BlockInfoTeacher.BlockAssignments != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.BlockMaterials | safeHtml" *ngIf="BlockInfoTeacher.BlockMaterials != ''" class="navbar-p"></div>
        <div [innerHTML]="BlockInfoTeacher.BlockInfo | safeHtml" *ngIf="BlockInfoTeacher.BlockInfo != ''"></div>
      </div>

      <div id="taskInfo" class="tasksInfo animate-show" *ngIf="taskPage[selTaskNum] && !btnBlock" ng-scrollable="{scrollX:'none',scrollY:'right'}">
        <div [innerHTML]="taskName[selTaskNum] | safeHtml" class="navbar-p"></div>
        <div [innerHTML]="taskTeacherInfo[selTaskNum].TaskSLH | safeHtml" class="navbar-p"></div>
        <div [innerHTML]="taskTeacherInfo[selTaskNum].TaskSummary | safeHtml" *ngIf="taskTeacherInfo[selTaskNum].TaskSummary != ''" class="navbar-p"></div>
        <div [innerHTML]="taskTeacherInfo[selTaskNum].TaskAims | safeHtml" *ngIf="taskTeacherInfo[selTaskNum].TaskAims != ''" class="navbar-p"></div>
        <div [innerHTML]="taskTeacherInfo[selTaskNum].TaskAssignments | safeHtml" *ngIf="taskTeacherInfo[selTaskNum].TaskAssignments != ''" class="navbar-p"></div>
        <div [innerHTML]="taskTeacherInfo[selTaskNum].TaskMaterials | safeHtml" *ngIf="taskTeacherInfo[selTaskNum].TaskMaterials != ''" class="navbar-p"></div>
        <div [innerHTML]="taskTeacherInfo[selTaskNum].TaskInfo | safeHtml" *ngIf="taskTeacherInfo[selTaskNum].TaskInfo != ''"></div>
      </div>

      <div id="taskNav" class="tasksNav check-element animate-show" ng-hide="taskPage[selTaskNum] || btnBlock" >
          <span *ngFor="LOsData in LOsIDs[selTaskNum]" >
              <button
                type="button"
                class="btn btn-circle btn-md {{ LOsData.color }}"
                style="{{'z-index:' + LObtnlayer[$index]}}"
                (click)="clickedLOBtn($index, selTaskNum)" >
                  <i class="glyphicon-num">{{ $index + 1}}</i>
              </button>
              <span id="LOboxShow" class="lo-box animate-show" *ngIf="LOShowInfo[$index]">
                  <div class="LOtitle">{{LOsIDs[selTaskNum][$index].title}}</div>
                  <div class="LOinfo">{{LOsIDs[selTaskNum][$index].LOInfoTeacher}}</div>
                  <button
                    type="button"
                    class="btn btn-circle btn-white btn-xs btn-nav-close"
                    (click)="clickedLOBtn($index, selTaskNum)" >
                      <i class="glyphicon glyphicon-remove"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-circle btn-white btn-xs btn-lo-goto"
                    (click)="clickedGotoBtn($index, selTaskNum)" >
                      <i class="glyphicon glyphicon-arrow-right"></i>
                  </button>
              </span>
          </span>
      </div>

    </div>
  </div>

</div>
-->
