<ion-content padding>
	<ion-toolbar clear *ngIf="total > 1">
		<ion-title>Question Evaluation</ion-title>
		<ion-buttons end>
			<button ion-button [disabled]="index <= 1" (click)="goBack($event)">
				<ion-icon name="arrow-back" class="big"></ion-icon>
			</button>
			<div class="current-question"><strong>Question {{index}} of {{total}}</strong></div>
			<button ion-button [disabled]="index >= total" (click)="goForward($event)">
				<ion-icon name="arrow-forward" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
	<h2>{{currentQuestion.question}}</h2>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<canvas #chart></canvas>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>