<ion-content class="login">
	<ion-grid>
		<ion-row>
			<ion-col col-sm-6 offset-sm-3>
				<ion-card>
					<ion-card-content>
						<div>
							<div ion-button block (click)="sso()">{{'login.sso' | translate}}</div>
						</div>
					</ion-card-content>
				</ion-card>
				<ion-card>
					<ion-card-content>
						<form #signForm="ngForm" (ngSubmit)="authenticate(signForm.value)">
							<ion-item>
								<ion-label>{{'login.user' | translate}}</ion-label>
								<ion-input type="text" name="user" ngModel required></ion-input>
							</ion-item>

							<ion-item>
								<ion-label>{{'login.pass' | translate}}</ion-label>
								<ion-input type="password" name="password" ngModel required></ion-input>
							</ion-item>

							<div padding>
								<button ion-button block type="submit">{{'login.signin' | translate}}</button>
							</div>
							<div>
								<div ion-button block clear (click)="signup()">{{'login.signup' | translate}}</div>
							</div>
						</form>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>