.session{
	&.teacher{
		ion-tabs{
			margin-left:60px;
			width: calc(100% - 60px);
			.tabbar{
				display: none !important;
			}
		}
		session-menu{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			z-index: 10000;
		}
	}
}

.md{
	.has-header .fixed-content, .has-header .scroll-content{
		margin-top: 56px;
	}
}

.ios{
	.has-header .fixed-content, .has-header .scroll-content{
		margin-top: 44px;
	}
}