<ion-content class="session teacher">
	<session-menu [structure]="menuData"></session-menu>
	<ion-tabs>
		<ion-tab tabIcon="desktop" tabUrlPath="d" [root]="display" [rootParams]="rootParams"></ion-tab>
		<ion-tab tabIcon="contacts" tabUrlPath="a" [root]="second" [rootParams]="secondRootParams"></ion-tab>
	</ion-tabs>
</ion-content>