<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add Rubric' : 'Edit Rubric'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveAndPresent()" *ngIf="canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="results()" *ngIf="!canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="rubric has-header">
	<ion-grid *ngIf="question">
		<ion-row>
			<ion-col>
				<ion-textarea placeholder="Type in your lead question" [(ngModel)]="question.question"></ion-textarea>
			</ion-col>
		</ion-row>
		<ion-row>
            <ion-col>
				<ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[0].distracter"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 1" [(ngModel)]="question.distracters[0].sliderRubricOptions[0].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 2" [(ngModel)]="question.distracters[0].sliderRubricOptions[1].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 3" [(ngModel)]="question.distracters[0].sliderRubricOptions[2].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 4" [(ngModel)]="question.distracters[0].sliderRubricOptions[3].label"></ion-input>
			</ion-col>
        </ion-row>
		<ion-row>
            <ion-col>
				<ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[1].distracter"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 1" [(ngModel)]="question.distracters[1].sliderRubricOptions[0].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 2" [(ngModel)]="question.distracters[1].sliderRubricOptions[1].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 3" [(ngModel)]="question.distracters[1].sliderRubricOptions[2].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 4" [(ngModel)]="question.distracters[1].sliderRubricOptions[3].label"></ion-input>
			</ion-col>
        </ion-row>		
		<ion-row>
            <ion-col>
				<ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[2].distracter"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 1" [(ngModel)]="question.distracters[2].sliderRubricOptions[0].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 2" [(ngModel)]="question.distracters[2].sliderRubricOptions[1].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 3" [(ngModel)]="question.distracters[2].sliderRubricOptions[2].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 4" [(ngModel)]="question.distracters[2].sliderRubricOptions[3].label"></ion-input>
			</ion-col>
        </ion-row>
		<ion-row>
            <ion-col>
				<ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[3].distracter"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 1" [(ngModel)]="question.distracters[3].sliderRubricOptions[0].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 2" [(ngModel)]="question.distracters[3].sliderRubricOptions[1].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 3" [(ngModel)]="question.distracters[3].sliderRubricOptions[2].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 4" [(ngModel)]="question.distracters[3].sliderRubricOptions[3].label"></ion-input>
			</ion-col>
        </ion-row>
		<ion-row>
            <ion-col>
				<ion-input placeholder="Type in your question" [(ngModel)]="question.distracters[4].distracter"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 1" [(ngModel)]="question.distracters[4].sliderRubricOptions[0].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 2" [(ngModel)]="question.distracters[4].sliderRubricOptions[1].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 3" [(ngModel)]="question.distracters[4].sliderRubricOptions[2].label"></ion-input>
			</ion-col>
			<ion-col>
				<ion-input placeholder="Option 4" [(ngModel)]="question.distracters[4].sliderRubricOptions[3].label"></ion-input>
			</ion-col>
        </ion-row>
	</ion-grid>
</ion-content>