<ion-content padding class="rubric-exam">
	<h3>{{question.question}}</h3>
	<ion-grid>
		<ion-row *ngFor="let distracter of question.distracters; index as i;">
			<ion-col col-4 class="label-col">
				<ion-label>{{distracter.distracter}}</ion-label>
			</ion-col>
			<ion-col col-2 *ngFor="let option of distracter.sliderRubricOptions; index as j;">
				<button ion-button color="light" (click)="onChange(distracter, option)" [class.active]="isChosen(distracter, option, answer)">{{option.label}}</button>
			</ion-col>
		</ion-row>		
	</ion-grid>
</ion-content>