<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button icon-only (click)="cancel()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Choose courses</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="save()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-sm-4>
				<ion-select class="full-width" [(ngModel)]="subject" placeholder="Select a subject" (ionChange)="subjectSelected()">
					<ion-option *ngFor="let entry of subjects" [value]="entry">{{entry}}</ion-option>
				</ion-select>
			</ion-col>
			<ion-col col-sm-4>
				<ion-select class="full-width" [(ngModel)]="stream" [disabled]="!subject" placeholder="Select a stream" (ionChange)="streamSelected()">
					<ion-option *ngFor="let entry of streams" [value]="entry">{{entry}}</ion-option>
				</ion-select>
			</ion-col>
			<ion-col col-sm-4>
				<ion-select class="full-width" [(ngModel)]="level" [disabled]="!stream || !subject" placeholder="Select a level" (ionChange)="doFilter()">
					<ion-option *ngFor="let entry of levels" [value]="entry">{{entry}}</ion-option>
				</ion-select>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-list>
		<ion-item *ngFor="let course of filteredCourses">
			<ion-label>{{course.subject + " - " + course.stream + ": " + course.level}}</ion-label>
			<ion-checkbox item-right (ionChange)="toggleCourseSelected(course)"></ion-checkbox>
		</ion-item>
		<ion-item class="text-center" *ngIf="!filteredCourses || filteredCourses.length == 0">
			All courses assigned or no matching courses found.
		</ion-item>
	</ion-list>
</ion-content>