<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ course.subject }} - {{ block.displayName}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-spinner *ngIf="loading"></ion-spinner>
	<q-presenter [toc]="toc" [los]="los" [currentState]="state" (userActionPerformed)="onUserActed($event)" (quizProgress)="onQuizProgress($event)"></q-presenter>
</ion-content>