<ion-header>
	<ion-navbar hideBackButton="true">
		<ion-title>{{title}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="endActivity()">
				<ion-icon name="close-circle" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-nav #summaryNav></ion-nav>
</ion-content>