<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add question' : 'Edit question'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="single-choice" radio-group>
	<ion-list *ngIf="question">
		<ion-item>
			<ion-textarea name="question" placeholder="Enter your question" [(ngModel)]="question.question"></ion-textarea>
		</ion-item>
		<ion-item>
            <ion-radio name="q1correct" item-right (ionSelect)="onChange(0)" [checked]="isChecked(0)"></ion-radio>
            <ion-input name="q1distracter" placeholder="Type in distracter 1" [(ngModel)]="question.distracters[0].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-radio name="q2correct"  item-right (ionSelect)="onChange(1)" [checked]="isChecked(1)"></ion-radio>
            <ion-input name="q2distracter" placeholder="Type in distracter 2" [(ngModel)]="question.distracters[1].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-radio name="q3correct"  item-right (ionSelect)="onChange(2)" [checked]="isChecked(2)"></ion-radio>
            <ion-input name="q3distracter" placeholder="Type in distracter 3" [(ngModel)]="question.distracters[2].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-radio name="q4correct"  item-right (ionSelect)="onChange(3)" [checked]="isChecked(3)"></ion-radio>
            <ion-input name="q4distracter" placeholder="Type in distracter 4" [(ngModel)]="question.distracters[3].distracter" ></ion-input>
        </ion-item>
		<ion-item>
            <ion-radio name="q5correct"  item-right (ionSelect)="onChange(4)" [checked]="isChecked(4)"></ion-radio>
            <ion-input name="q5distracter" placeholder="Type in distracter 5" [(ngModel)]="question.distracters[4].distracter" ></ion-input>
        </ion-item>
		<ion-item>
			<ion-input type="text" placeholder="Correct answer feedback"></ion-input>
		</ion-item>		
		<ion-item>
			<ion-input type="text" placeholder="Wrong answer feedback"></ion-input>
		</ion-item>
	</ion-list>
</ion-content>