<ion-content class="register">
	<ion-grid>
		<ion-row>
			<ion-col col-sm-6 offset-sm-3>
				<ion-card>
					 <ion-card-header class="text-center">
						Register
					</ion-card-header>
					<ion-card-content>
						<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
							<ion-item>
								<ion-label>First name</ion-label>
								<ion-input type="text" name="firstName" ngModel required></ion-input>
							</ion-item>
							<ion-item>
								<ion-label>Last name</ion-label>
								<ion-input type="text" name="lastName" ngModel required></ion-input>
							</ion-item>
							<ion-item>
								<ion-label>Email</ion-label>
								<ion-input type="email" name="email" ngModel required></ion-input>
							</ion-item>
							<ion-item>
								<ion-label>Username</ion-label>
								<ion-input type="text" name="user" ngModel required></ion-input>
							</ion-item>
							<ion-item *ngIf="create">
								<ion-label>Password</ion-label>
								<ion-input type="password" name="password" ngModel required></ion-input>
							</ion-item>
							<!--ion-item>
								<ion-label>Role</ion-label>
								<ion-select name="roleId" ngModel required>
									<ion-option *ngFor="let role of roles" [value]="role.id">{{role.roleName}}</ion-option>
								</ion-select>
							</ion-item-->

							<div padding>
								<button ion-button block type="submit" color="secondary">Sign Up</button>
							</div>
								<button ion-button block clear color="primary" (click)="login()">Back to login</button>
						</form>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>