<ion-content>
	<h3>{{question.question}}</h3>
	<ion-grid radio-group>
		<ion-row>
			<ion-col col-6 col-sm>
				<ion-item>
					<ion-label>True</ion-label>
					<ion-radio name="true" (ionSelect)="onChange(1)" [disabled]="answer.answered" [checked]="isChecked(1)"></ion-radio>
				</ion-item>
			</ion-col>
			<ion-col col-6 col-sm>
				<ion-item>
					<ion-label>False</ion-label>
					<ion-radio name="false" (ionSelect)="onChange(2)" [disabled]="answer.answered" [checked]="isChecked(2)"></ion-radio>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>