<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add question' : 'Edit question'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list *ngIf="question">
		<ion-item>
			<ion-textarea name="question" placeholder="Enter your question" [(ngModel)]="question.question"></ion-textarea>
		</ion-item>

		<ion-grid radio-group>
			<ion-row>
				<ion-col col-6 col-sm>
					<ion-item>
						<ion-label>True</ion-label>
						<ion-radio name="true" (ionSelect)="onChange('true')" [checked]="isChecked('true')"></ion-radio>
					</ion-item>
				</ion-col>
				<ion-col col-6 col-sm>
					<ion-item>
						<ion-label>False</ion-label>
						<ion-radio name="false" (ionSelect)="onChange('false')" [checked]="isChecked('false')"></ion-radio>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>

		<ion-item>
			<ion-input type="text" placeholder="Correct answer feedback"></ion-input>
		</ion-item>		
		<ion-item>
			<ion-input type="text" placeholder="Wrong answer feedback"></ion-input>
		</ion-item>
	</ion-list>
</ion-content>