<ion-content padding class="checklist-exam">
	<h3>{{question.question}}</h3>
	<ion-list>
		<ion-item *ngFor="let distracter of question.distracters; index as i;">
			<ion-label>{{distracter.distracter}}</ion-label>
			<ion-checkbox item-right (ionChange)="onChange(i+1)" [checked]="isChecked(i+1)"></ion-checkbox>
        </ion-item>
	</ion-list>
</ion-content>