<ion-header>
	<ion-navbar>
		<ion-title>{{create ? 'Add question' : 'Edit question'}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveAndPresent()" *ngIf="canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="results()" *ngIf="!canPresent">
				<ion-icon name="desktop" class="big"></ion-icon>
			</button>
			<button ion-button (click)="save()">
				<ion-icon name="checkmark" class="big"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="checklist has-header">
	<ion-list *ngIf="question">
		<ion-item>
			<ion-textarea placeholder="Enter your question" [(ngModel)]="question.question"></ion-textarea>
		</ion-item>
		<ion-item>
            <ion-input placeholder="Type in distracter 1" [(ngModel)]="question.distracters[0].distracter"></ion-input>
        </ion-item>
		<ion-item>
            <ion-input placeholder="Type in distracter 2" [(ngModel)]="question.distracters[1].distracter"></ion-input>
        </ion-item>		
		<ion-item>
            <ion-input placeholder="Type in distracter 3" [(ngModel)]="question.distracters[2].distracter"></ion-input>
        </ion-item>
		<ion-item>
            <ion-input placeholder="Type in distracter 4" [(ngModel)]="question.distracters[3].distracter"></ion-input>
        </ion-item>
		<ion-item>
            <ion-input placeholder="Type in distracter 5" [(ngModel)]="question.distracters[4].distracter"></ion-input>
        </ion-item>
	</ion-list>
</ion-content>