<ion-list>
      <ion-list-header>Add Activity</ion-list-header>
      <button ion-item [disabled]="shouldDisable(type)" (click)="close(type)" *ngFor="let type of activityTypes">{{type.label}}</button>
</ion-list>