
[class^="q-"], [class*=" q-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'qfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.q-home:before {
  content: "\e900";
}
.q-performance:before {
  content: "\e906";
}
.q-navigator:before {
  content: "\e907";
}
.q-todo:before {
  content: "\e908";
}
.q-my-profile:before {
  content: "\e909";
}
.q-current-lo:before {
  content: "\e90a";
}
.q-share-screen:before {
  content: "\e90b";
}
.q-attendance:before {
  content: "\e90c";
}
.q-attention:before {
  content: "\e90d";
}
.q-session:before {
  content: "\e90e";
}
.q-tag-cloud:before {
  content: "\e90f";
}
.q-enquette:before {
  content: "\e910";
}
.q-like-dislike:before {
  content: "\e916";
}
.q-check:before {
  content: "\e921";
}
.q-rubric:before {
  content: "\e922";
}
.q-interaction:before {
  content: "\e926";
}
.q-resources:before {
  content: "\e927";
}
.q-tools:before {
  content: "\e92a";
}
.q-color:before {
  content: "\e92b";
}
.q-marker:before {
  content: "\e92c";
}
.q-pen:before {
  content: "\e92d";
}
.q-text-to-speech:before {
  content: "\e92e";
}
.q-sticky-note:before {
  content: "\e92f";
}
.q-edit:before {
  content: "\e930";
}
.q-word:before {
  content: "\e931";
}
.q-powerpoint:before {
  content: "\e933";
}
.q-excel:before {
  content: "\e936";
}
.q-onenote:before {
  content: "\e938";
}
.q-collaborate:before {
  content: "\e93a";
}
.q-q .path1:before {
  content: "\e93b";
  color: rgb(55, 53, 53);
}
.q-q .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(238, 54, 56);
}
