session-menu{
	ul.menu{
		height:100%;
		width: 60px;
		min-width:60px;
		background-color: #231F20;
		margin: 0;
		padding: 0;
		li{
			text-align: center;
			padding: 10px 5px;
			cursor: pointer;
			& > span{
				color: #6d6e71;
				line-height: 30px;
			}
			&.enabled > span{
				color:#bcbec0 !important;
			}

			&.disabled > span{
				color:#6d6e71 !important;
			}

			&.in > span,
			&.selected > span{
				color:#ffffff !important;
			}

			&.led{
				background-color: #bfd730;
				padding: 0;
			}
			&.logo{
				position: absolute;
				bottom: 0;
				left: 0;
			}

			&.home > span{
				color: white;
			}

			&.has-sub > ul {
				position: absolute;
                background-color: #636466;
                left: -60px;
				min-width: 60px;
				padding: 0;
				margin: -42px 0 0 0;
                z-index: -1;
                height: auto;
                -webkit-transition: left 200ms ease-in;
                -moz-transition: left 200ms ease-in;
                -ms-transition: left 200ms ease-in;
				transition: left 200ms ease-in;
				li{
					& > span{
						color: #C5C7C9;
					}
					&.enabled > span{
						color: #C5C7C9;
					}
				}
			}

			&.has-sub.in > ul{
				 left: 60px;
			}
		}
	}

	span{
		font-size: 30px;
		text-align:center;
	}
}

.enable-hover{
	ul.menu{
		li.has-sub:hover{
			& > span{
				color: #ffffff;
			}
			& > ul{
				left: 60px;
			}
		}
	}
}
