<ul class="menu">
	<li class="menu-item led">
	</li>
	<li class="menu-item {{menu.state}} {{menu.subMenus && menu.subMenus.length > 0 ? 'has-sub': ''}}" *ngFor="let menu of structure.menus" (click)="handleMenuClick(menu)" click-outside (clickOutside)="outside(menu)">
		<span [class]="menu.icon"></span>
		<ul *ngIf="menu.subMenus && menu.subMenus.length > 0">
			<li *ngFor="let sub of menu.subMenus" class="{{sub.state}}" (click)="handleSubMenuClick(sub)">
				<span [class]="sub.icon"></span>
			</li>
		</ul>
	</li>
	<li class="menu-item logo">
		<svg width="45" height="45" viewBox="0 0 45 45">
			<defs id="defs6">
				<clipPath id="clipPath16" clipPathUnits="userSpaceOnUse">
					<path id="path18" d="m 0,35.718 35.718,0 L 35.718,0 0,0 0,35.718 Z" />
				</clipPath>
			</defs>
			<g transform="matrix(1.25,0,0,-1.25,0,44.64725)" id="g10">
				<g clip-path="url(#clipPath16)" id="g14">
					<g transform="translate(4.9014,17.9307)" id="g20">
						<path id="path22" style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none" d="M 0,0 C 0,6.94 5.626,12.566 12.566,12.566 19.508,12.566 25.135,6.94 25.135,0 25.135,-6.94 19.508,-12.566 12.566,-12.566 5.626,-12.566 0,-6.94 0,0 m 4.527,0.093 c 0,4.491 3.642,8.131 8.132,8.131 4.491,0 8.132,-3.64 8.132,-8.131 0,-4.491 -3.641,-8.132 -8.132,-8.132 -4.49,0 -8.132,3.641 -8.132,8.132"
						/>
					</g>
					<g transform="translate(27.6035,5.2227)" id="g24">
						<path id="path26" style="fill:#ee3638;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,0 -11.827,11.825 -8.756,14.896 3.07,3.069 0,0 Z"
						/>
					</g>
				</g>
			</g>
		</svg>
	</li>
</ul>