<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ course.subject }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h3>Take a look at the blocks here</h3>
	<ion-list *ngIf="!loading && blocks && blocks.length > 0">
		<ion-item *ngFor="let block of blocks" (click)="goToBlock(block)">
			<h2>{{block.displayName}}</h2>
			<h5>{{block.title}}</h5>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="loading"></ion-spinner>
	<h4 class="text-center" *ngIf="!loading && (!blocks || blocks.length == 0)">Sorry, no blocks yet</h4>
</ion-content>