<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Courses</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h3>Take a look at the courses here</h3>
	<ion-list *ngIf="!loading && courses && courses.length > 0">
		<ion-item *ngFor="let course of courses" (click)="goToCourse(course)">
			<h3>{{course.subject + " - " + course.stream + ": " + course.level}}</h3>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="loading"></ion-spinner>
	<h4 class="text-center" *ngIf="!loading && (!courses || courses.length == 0)">Sorry, no courses yet</h4>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-buttons left>
			<button ion-button (click)="startRealtime()">Realtime</button>
		</ion-buttons>
		<ion-title>{{msg}}</ion-title>
		<ion-buttons right>
			<button ion-button color="danger" [disabled]="!connected" (click)="sendAttention()">!</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>