<div>
	<h1>{{'qpresenter.title' | translate}}</h1>
	<p [translate]="'qpresenter.subTitle'"></p>
  <div>my test</div>

  <!--<app-navbar>Loading navbar...</app-navbar>
  <router-outlet></router-outlet>-->
  <app-toolbar>Loading toolbar...</app-toolbar>

  <div *ngIf="toc">{{toc.tasks[1].los[0].color}}</div>

</div>
