<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Admin Sessions</ion-title>
		<ion-buttons end>
			<button ion-button (click)="addSession()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list *ngIf="sessions && sessions.length > 0">
		<ion-item *ngFor="let session of sessions">
			<ion-icon [name]="session.active ? 'checkmark-circle' : 'remove-circle'" [color]="session.active ? 'success' : 'danger'" item-start></ion-icon>
			<h2>{{session.sessionName}}</h2>
		</ion-item>

	</ion-list>
	<div class="text-center" *ngIf="!sessions">
		<ion-spinner></ion-spinner>
	</div>
</ion-content>