<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Teacher Sessions</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list *ngIf="sessions && sessions.length > 0">
		<ion-item *ngFor="let session of sessions" (click)="sessionSelected(session)">
			<ion-icon [name]="session.active ? 'checkmark-circle' : 'remove-circle'" [color]="session.active ? 'secondary' : 'danger'"
			 item-start></ion-icon>
			<h2>{{session.sessionName}}</h2>
			<p>{{session.sessionCode}}</p>
		</ion-item>

	</ion-list>
	<div class="text-center" *ngIf="!sessions">
		<ion-spinner></ion-spinner>
	</div>
</ion-content>