<!--S04-->

<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">

      <div class="{{columnLayout.leftColWidth}} content-area content-format content-scroll" [innerHTML]="loContent?.content.key_contentText_3.value"></div>

      <div class="{{columnLayout.rightColWidth}} content-area content-format content-scroll" [innerHTML]="loContent?.content.key_contentText_4.value"></div>

    </div>


  </div>
</div>

