<!--S05-->

<header-child></header-child>

<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">

      <div class="{{columnLayout.leftColWidth}} content-area content-format content-scroll" [innerHTML]="loContent?.content.key_contentText.value"></div>

      <div class="{{columnLayout.rightColWidth}} content-area media-area content-format">
        <stim-child></stim-child>
      </div>

  </div>
</div>
