<!--S08-->

<div class="container-fluid">
  <div class="content-format content-position">

    <div class="col-xs-2 col-xs-offset-37">
        <span class="FlipBtn">
            <button
              type="button"
              style="margin-top: -15px;"
              class="btn toolbar-btn btn-md btn-primary-outline"
              (click)="onClickFlipBtn()" >
                <i class="reset-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <div id="myCard" class="flip-container">
      <div class="row">
        <div class="flipper">

          <div class="front">
            <div class="media-border">
              <!--<video id="example_video_1" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered"
                 controls preload="auto" width="640" height="264"
                 poster="../../../src/assets/video/280_1.png"
                 data-setup='{"example_option":true}'>
                <source src="{{videoFile + '.mp4'}}" type="video/mp4" />
                <source src="{{videoFile + '.webm'}}" type="video/webm" />
                <source src="{{videoFile + '.ogv'}}" type="video/ogg" />
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>-->
            </div>
          </div>

          <div class="back">
            <div class="content-area content-scroll" [innerHTML]="loContent?.content.key_contentText.value"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

